<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= gettext "A database of tweaks for the Atom text editor" %>">
    <meta name="author" content="Lee Dohm">

    <title><%= gettext "Atom Tweaks" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <span class="mega-octicon octicon-paintcan"></span>
          <%= gettext "Atom Tweaks" %>
        </a>

        <nav class="masthead-nav">
          <%= render(AtomStyleTweaks.SharedView, "login_button.html", assigns) %>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= if get_flash(@conn, :info) do %>
        <p class="flash" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <p class="flash flash-error" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
