.octicons {
  display: inline-block;
  vertical-align: text-top;
  user-select: none;
  fill: currentColor;
}

.menu-item .octicons {
  margin-right: 5px;
  text-align: center;
  fill: $gray-900;
}

.masthead-logo .octicons {
  margin-right: 5px;
}

.tweak-title-octicons {
  vertical-align: bottom;
}
