<div class="columns">
  <div class="one-fifth column">
    <nav class="menu">
      <a class="menu-item selected" href="#">
        <span class="octicon octicon-paintcan"></span>
        <%= gettext "Styles" %>
      </a>
    </nav>
  </div>

  <div class="four-fifths column">
    <div class="blankslate">
      <h3><%= gettext "No tweaks for you to see here" %></h3>
    </div>
  </div>
</div>
