on: pull_request
name: Validate release notes
jobs:
  validateReleaseNotes:
    name: Validate release notes
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1.0.0
    - name: Extract release notes
      uses: lee-dohm/extract-release-notes@v1.0.1
      if: "github.event.pull_request.user.type != 'Bot'"
